{% extends "layout.html" %}
{% block title %}Course view{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-8">
            <h2>Own courses</h2>
            {% if request.args.get("status") == "left" %}
            <b>Left course {{ request.args.get("name") }}.</b>
            {% endif %}

            {% if request.args.get("status") == "joined" %}
            <b>Joined course {{ request.args.get("name") }}.</b>
            {% elif request.args.get("status") == "failed" %}
            <b>Couldn't enrol course, because you're already in it!</b>
            {% endif %}

            {% if own_courses|length == 0 %}
            <h3>You haven't enrolled in any courses.</h3>
            {% else %}
            <table class="table">
                <thead>
                    <tr>
                        <th><b>Course</b></th>
                        <th><b>cr</b></th>
                        <th><b>Teacher</b></th>
                        <th><b>Exercises completed</b></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for course in own_courses %}
                    <tr>
                        <td>{{ course["name"] }}</td>
                        <td>{{ course["credits"] }}</td>
                        <td>{{ course["username"] }}</td>
                        {% if not course['id'] in total_exercises_dict.keys() %}
                        <td>Course has no exercises.</td>
                        {% else %}
                        {% if exercises_done_dict[course['id']] is not defined %}
                        <td>0 / {{ total_exercises_dict[course['id']] }}</td>
                        {% else %}
                        <td>{{ exercises_done_dict[course['id']] }} / {{ total_exercises_dict[course['id']] }}</td>
                        {% endif %}
                        {% endif %}
                        <td><a href="/exercises_materials?id={{course['id']}}">Exercises and materials</a></td>
                        <td><a href="/leavecourse?id={{course['id']}}" style="color: red">Leave course</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
            <hr>
            <h2>Course selection</h2>
            {% if other_courses|length == 0 %}
            <h3>Course list is empty.</h3>
            {% else %}
            <table class="table">
                <thead>
                    <tr>
                        <th><b>Course</b></th>
                        <th><b>cr</b></th>
                        <th><b>Teacher</b></th>
                        <th colspan="1"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for course in other_courses %}
                    <tr>
                        <td>{{ course["name"] }}</td>
                        <td>{{ course["credits"] }}</td>
                        <!-- The |safe is unnecessary, as the username of a teacher shouldn't be blindly trusted, because it's user-inputted data.
                        It can be helpful in escaping characters in HTML, but it's not a reason to open up a vulnerability in this case.
                        The following is a safe implementation: 
                        <td>{{ course["username"] }}
                        -->
                        <td>{{ course["username"]|safe }}</td>
                        <td><a href="/joincourse?id={{course['id']}}" style="color: green">Enrol in course</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
