{% extends "layout.html" %}
{% block title %}Exercises and materials{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-4">
            <h2>Selected course: {{ course['name'] }}</h2>
            <a href="/coursesview">Back to course view</a>
            <hr>
            <h2>Text materials</h2>
            {% if materials|length == 0 %}
            <b>Course has no materials.</b>
            {% else %}
            <button class="btn btn-secondary" onclick="openDiv('list-materials');" style="margin-bottom: 5px">List text
                materials

            </button>
            <div id="list-materials" style="display: none">
                {% for i in range(materials|length) %}
                <b>{{ i + 1 }}. material</b>
                <br>
                {{ materials[i][1] }}
                <br>
                <textarea class="form-control" style="resize: none" name="body" rows="5" cols="35"
                    readonly>{{ materials[i][2] }}</textarea>
                <br style="margin-bottom: 5px">
                {% endfor %}
            </div>
            {% endif %}
            <hr>
            <h2>Exercises</h2>
            {% if exercises|length == 0 %}
            <b>Course has no exercises.</b>
            {% else %}
            <b>Exercise list:</b>
            {% for i in range(exercises|length) %}
            {% if i % 5 == 0 %}
            <br>
            {% endif %}
            {% if submissions[exercises[i][0]] == True %}
            {% set col = "green" %}
            {% elif submissions[exercises[i][0]] == False %}
            {% set col = "red" %}
            {% else %}
            {% set col = "orange" %}
            {% endif %}
            <!--Visual Studio Code shows multiple errors here, although this code works-->
            <a style="color: {{ col }};font-size: large"
                href="/do_exercise?course_id={{ course['id'] }}&exercise_id={{ exercises[i]['id'] }}&exercise_num={{ i + 1 }}">T{{
                i + 1 }}</a>
            {% endfor %}
            {% endif %}
            <br>
            <p>Correct exercises:</p>
            {% set progress = (((correct_submissions|int) / (exercises|length)) * 100)|round(1, 'ceil') %}
            <div class="progress">
                <div class="progress-bar bg-success" role="progressbar" style="width: {{ progress }}%"
                    aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100">{{ progress }}%</div>
            </div>
        </div>
        <div class="col-6">
            <b>Instructions</b>
            <br>
            <p>On this page you can do the exercises of the selected course and view text materials the teacher has
                added.</p>
            <button class="btn btn-secondary" onclick="openDiv('instructions')">Näytä ohjeet</button>
            <div id="instructions" style="display: none">
                <p>You'll see the number of the exercise (f.e. E1, exercise 1) and a color that signifies what
                    state the exercise is in. </p>
                <p>
                <p style="color: green;display: inline">Green</p> means, that the exercise has been attempted and is
                correct.
                </p>
                <p>
                <p style="color: red;display: inline">Red</p> means, that the exercise has been attempted but was wrong.
                </p>
                <p>
                <p style="color: orange;display: inline">Yellow</p> means, that the exercise hasn't been attempted yet.
                </p>
                <p>There are two types of exercises, the first of
                    which is the multiple choice question, in which you select an option and get immediate feedback on
                    if that choice was correct.</p>
                <p>The second type is the essay exercise, where you'll see a
                    question, and after writing an answer, the exercise is marked as completed and you'll see an example
                    answer.</p>
                <p>You can attempt each exercise only once.</p>
                <p style="color: red">If you leave a course, all of your progress towards exercises is deleted!</p>
            </div>
        </div>
    </div>
</div>
<script>
    function openDiv(divID) {
        const div = document.getElementById(divID);
        if (div.style.display === "none") {
            div.style.display = "block";
        } else {
            div.style.display = "none";
        }
    }
</script>
{% endblock %}
